In [1]:
import pandas as pd

In [2]:
customer = pd.read_csv('customers.csv')

In [3]:
product = pd.read_csv('products.csv')

In [4]:
order= pd.read_csv('orders.csv')

In [5]:
customer

    customer_id       name  age  gender               city
0         C0001   Jennifer   56    Male      Morrisonmouth
1         C0002    William   46    Male  Port Charlesshire
2         C0003      Ellen   32    Male  South Thomasmouth
3         C0004      Sheri   60    Male         West Megan
4         C0005     Taylor   25    Male         Josephland
..          ...        ...  ...     ...                ...
495       C0496  Stephanie   37    Male         Santosport
496       C0497      Susan   41    Male           Annaside
497       C0498    Spencer   29  Female         Harrisside
498       C0499     Rachel   52    Male       Anthonymouth
499       C0500    Jasmine   50    Male         North Mark

[500 rows x 5 columns]

In [6]:
product

   product_id product_name     category   price
0        P001        Stage     Clothing  534.93
1        P002        Least  Accessories   56.56
2        P003       Number         Home  339.92
3        P004      Evening     Clothing  138.74
4        P005      Protect     Footwear   68.06
..        ...          ...          ...     ...
95       P096      Service     Footwear  872.76
96       P097         Away         Home  932.46
97       P098     Decision  Accessories  567.31
98       P099           So  Electronics  698.17
99       P100   Everything         Home  922.89

[100 rows x 4 columns]

In [7]:
order

     order_id customer_id product_id  quantity  order_date
0      O00001       C0333       P022         1  2022-01-09
1      O00002       C0068       P090         1  2022-01-27
2      O00003       C0483       P021         1  2022-01-17
3      O00004       C0214       P076         4  2022-01-07
4      O00005       C0411       P073         4  2022-01-12
...       ...         ...        ...       ...         ...
2579   O02580       C0237       P098         5  2024-12-22
2580   O02581       C0236       P007         1  2024-12-05
2581   O02582       C0029       P035         1  2024-12-12
2582   O02583       C0171       P077         1  2024-12-16
2583   O02584       C0421       P038         5  2024-12-01

[2584 rows x 5 columns]

In [8]:
new_df=order.merge(product, on = 'product_id')
new_df['order_date']= pd.to_datetime(new_df.order_date)
new_df['year']= new_df.order_date.dt.year
new_df['month']= new_df.order_date.dt.month
new_df['total_sale'] = new_df.quantity * new_df.price
year_grp=new_df.groupby('year')
new_df

,order_id,customer_id,product_id,quantity,order_date,product_name,category,price,year,month,total_sale
0,O00001,C0333,P022,1,2022-01-09,Tax,Home,185.33,2022,1,185.33
1,O00002,C0068,P090,1,2022-01-27,Perform,Electronics,947.55,2022,1,947.55
2,O00003,C0483,P021,1,2022-01-17,Art,Electronics,938.65,2022,1,938.65
3,O00004,C0214,P076,4,2022-01-07,Amount,Electronics,154.17,2022,1,616.68
4,O00005,C0411,P073,4,2022-01-12,Second,Electronics,131.85,2022,1,527.40
...,...,...,...,...,...,...,...,...,...,...,...
2579,O02580,C0237,P098,5,2024-12-22,Decision,Accessories,567.31,2024,12,2836.55
2580,O02581,C0236,P007,1,2024-12-05,Finish,Clothing,325.74,2024,12,325.74
2581,O02582,C0029,P035,1,2024-12-12,First,Clothing,362.04,2024,12,362.04
2582,O02583,C0171,P077,1,2024-12-16,Government,Clothing,233.11,2024,12,233.11
2583,O02584,C0421,P038,5,2024-12-01,Black,Electronics,817.52,2024,12,4087.60

In [9]:
data =customer.merge(new_df, on = 'customer_id')
data

,customer_id,name,age,gender,city,order_id,product_id,quantity,order_date,product_name,category,price,year,month,total_sale
0,C0001,Jennifer,56,Male,Morrisonmouth,O00035,P012,5,2022-01-03,Section,Footwear,597.66,2022,1,2988.30
1,C0001,Jennifer,56,Male,Morrisonmouth,O01513,P008,4,2023-10-28,Table,Clothing,810.83,2023,10,3243.32
2,C0002,William,46,Male,Port Charlesshire,O00046,P044,3,2022-01-15,Detail,Home,505.21,2022,1,1515.63
3,C0002,William,46,Male,Port Charlesshire,O00617,P080,3,2022-09-09,Organization,Footwear,642.94,2022,9,1928.82
4,C0002,William,46,Male,Port Charlesshire,O00835,P066,4,2023-01-31,Such,Accessories,572.04,2023,1,2288.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2579,C0500,Jasmine,50,Male,North Mark,O01606,P026,2,2023-11-26,North,Accessories,842.62,2023,11,1685.24
2580,C0500,Jasmine,50,Male,North Mark,O02114,P045,3,2024-06-21,Compare,Footwear,236.05,2024,6,708.15
2581,C0500,Jasmine,50,Male,North Mark,O02389,P044,3,2024-10-12,Detail,Home,505.21,2024,10,1515.63
2582,C0500,Jasmine,50,Male,North Mark,O02455,P036,3,2024-11-02,News,Clothing,877.81,2024,11,2633.43
2583,C0500,Jasmine,50,Male,North Mark,O02472,P058,5,2024-11-01,Job,Accessories,535.79,2024,11,2678.95

In [10]:
def agegroup(x):
    if x >= 50:
        return 'sr_citizen'
    elif x >= 30:
        return 'Adult'
    elif x >= 20:
        return  'Young'
    elif x >= 15:
        return 'Gen_z'

In [11]:
idss =data.groupby('customer_id')
id=data['customer_id'].value_counts().index
value = data['customer_id'].value_counts().values
new_data = pd.DataFrame(id)
new_data['repeat_order'] = value
new_df1=new_data.merge(customer, on= "customer_id")
new_df1['age_category'] = new_df1['age'].apply(agegroup)
new_df1

,customer_id,repeat_order,name,age,gender,city,age_category
0,C0028,13,Crystal,61,Male,Theodoreland,sr_citizen
1,C0113,13,Ryan,45,Male,North Thomashaven,Adult
2,C0243,12,Margaret,36,Male,Allenside,Adult
3,C0220,11,Joshua,49,Male,Rogersport,Adult
4,C0338,11,James,63,Male,Davidberg,sr_citizen
...,...,...,...,...,...,...,...
493,C0169,1,Steven,45,Male,New Connor,Adult
494,C0279,1,Abigail,50,Male,North Isaiahtown,sr_citizen
495,C0319,1,Heidi,25,Male,Nathanieltown,Young
496,C0037,1,Timothy,20,Female,Cobbburgh,Young
497,C0162,1,Jonathan,24,Male,New John,Young

In [12]:
cate = []
price= []
for ci in id:
    ne = idss.get_group(ci).category
    pri = idss.get_group(ci).price.sum()
    cate.append(ne.mode().sum())
    price.append(pri)
new_df1['category']=cate
new_df1['total_purchase'] = price
new_df1

,customer_id,repeat_order,name,age,gender,city,age_category,category,total_purchase
0,C0028,13,Crystal,61,Male,Theodoreland,sr_citizen,Accessories,5671.46
1,C0113,13,Ryan,45,Male,North Thomashaven,Adult,Accessories,7006.89
2,C0243,12,Margaret,36,Male,Allenside,Adult,Electronics,6191.84
3,C0220,11,Joshua,49,Male,Rogersport,Adult,Clothing,6470.29
4,C0338,11,James,63,Male,Davidberg,sr_citizen,Accessories,4331.86
...,...,...,...,...,...,...,...,...,...
493,C0169,1,Steven,45,Male,New Connor,Adult,Electronics,131.85
494,C0279,1,Abigail,50,Male,North Isaiahtown,sr_citizen,Footwear,236.05
495,C0319,1,Heidi,25,Male,Nathanieltown,Young,Clothing,144.07
496,C0037,1,Timothy,20,Female,Cobbburgh,Young,Home,822.15
497,C0162,1,Jonathan,24,Male,New John,Young,Home,339.92

In [13]:
category_re =new_df1['category'].value_counts().index
cate_num_repeat=new_df1['category'].value_counts().values
category_repeat= pd.DataFrame(category_re)
category_repeat['category_repeat'] = cate_num_repeat

In [14]:
name_pro=data['product_name'].value_counts().index
value_pro=data['product_name'].value_counts().values
repeat_product=pd.DataFrame(name_pro)
repeat_product['repeat_product'] = value_pro
new_df2=repeat_product.merge(product, on = 'product_name')

In [15]:
new_df3=new_df2.merge(category_repeat, on= 'category')

In [16]:
new_df3 = new_df3[['product_id', 'price', 'product_name', 'repeat_product','category','category_repeat']]

In [17]:
new_df3

,product_id,price,product_name,repeat_product,category,category_repeat
0,P026,842.62,North,53,Accessories,61
1,P094,613.40,North,53,Electronics,83
2,P008,810.83,Table,53,Clothing,64
3,P063,252.25,Table,53,Home,53
4,P062,315.16,Program,50,Clothing,64
...,...,...,...,...,...,...
95,P098,567.31,Decision,19,Accessories,61
96,P033,666.87,The,18,Footwear,54
97,P010,683.10,Able,18,Home,53
98,P068,877.38,Market,16,Accessories,61
99,P035,362.04,First,14,Clothing,64

In [18]:
print('Upadated Data')
data

Upadated Data

,customer_id,name,age,gender,city,order_id,product_id,quantity,order_date,product_name,category,price,year,month,total_sale
0,C0001,Jennifer,56,Male,Morrisonmouth,O00035,P012,5,2022-01-03,Section,Footwear,597.66,2022,1,2988.30
1,C0001,Jennifer,56,Male,Morrisonmouth,O01513,P008,4,2023-10-28,Table,Clothing,810.83,2023,10,3243.32
2,C0002,William,46,Male,Port Charlesshire,O00046,P044,3,2022-01-15,Detail,Home,505.21,2022,1,1515.63
3,C0002,William,46,Male,Port Charlesshire,O00617,P080,3,2022-09-09,Organization,Footwear,642.94,2022,9,1928.82
4,C0002,William,46,Male,Port Charlesshire,O00835,P066,4,2023-01-31,Such,Accessories,572.04,2023,1,2288.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2579,C0500,Jasmine,50,Male,North Mark,O01606,P026,2,2023-11-26,North,Accessories,842.62,2023,11,1685.24
2580,C0500,Jasmine,50,Male,North Mark,O02114,P045,3,2024-06-21,Compare,Footwear,236.05,2024,6,708.15
2581,C0500,Jasmine,50,Male,North Mark,O02389,P044,3,2024-10-12,Detail,Home,505.21,2024,10,1515.63
2582,C0500,Jasmine,50,Male,North Mark,O02455,P036,3,2024-11-02,News,Clothing,877.81,2024,11,2633.43
2583,C0500,Jasmine,50,Male,North Mark,O02472,P058,5,2024-11-01,Job,Accessories,535.79,2024,11,2678.95

In [19]:
print("Reapeat Customers with age category & total purchase")
new_df1.head(50)

Reapeat Customers with age category & total purchase

,customer_id,repeat_order,name,age,gender,city,age_category,category,total_purchase
0,C0028,13,Crystal,61,Male,Theodoreland,sr_citizen,Accessories,5671.46
1,C0113,13,Ryan,45,Male,North Thomashaven,Adult,Accessories,7006.89
2,C0243,12,Margaret,36,Male,Allenside,Adult,Electronics,6191.84
3,C0220,11,Joshua,49,Male,Rogersport,Adult,Clothing,6470.29
4,C0338,11,James,63,Male,Davidberg,sr_citizen,Accessories,4331.86
5,C0268,11,Gary,22,Female,Youngborough,Young,Accessories,5165.90
6,C0108,11,William,50,Male,Jonathanport,sr_citizen,AccessoriesElectronics,6001.70
7,C0475,11,Brooke,54,Male,Edwardmouth,sr_citizen,Footwear,6765.18
8,C0406,11,Kirsten,23,Female,Lake Jacquelineview,Young,ElectronicsFootwear,5454.85
9,C0356,10,Nathan,59,Male,Gonzalezfort,sr_citizen,Clothing,5142.89
10,C0258,10,Paul,48,Female,East Amyton,Adult,Electronics,4661.87
11,C0405,10,Katherine,59,Female,East Mary,sr_citizen,Electronics,6228.29
12,C0414,10,Rachel,22,Female,New Elizabethland,Young,Clothing,3520.33
13,C0500,10,Jasmine,50,Male,North Mark,sr_citizen,Accessories,5926.51
14,C0068,10,Kathy,35,Female,Gambleport,Adult,Electronics,6946.46
15,C0448,10,Jennifer,56,Male,New Robertville,sr_citizen,Clothing,6956.20
16,C0181,10,Daniel,44,Male,Loganfurt,Adult,ElectronicsFootwear,5694.43
17,C0497,10,Susan,41,Male,Annaside,Adult,Electronics,4197.15
18,C0080,10,Deborah,57,Male,Deborahton,sr_citizen,ElectronicsFootwear,5600.20
19,C0129,10,Christopher,18,Male,Mariamouth,Gen_z,Accessories,6705.18
20,C0100,9,Natalie,61,Male,East Earlfort,sr_citizen,Clothing,5135.52
21,C0311,9,Nathaniel,29,Male,Amandamouth,Young,Accessories,3629.96
22,C0075,9,David,48,Male,Robertchester,Adult,Electronics,5570.44
23,C0267,9,Steven,29,Female,Heatherborough,Young,Electronics,4661.93
24,C0053,9,James,24,Male,Maysborough,Young,Clothing,5208.06
25,C0256,9,Ashley,42,Female,New Laurenland,Adult,Electronics,4205.22
26,C0184,9,Diane,20,Male,Port Kennethtown,Young,ClothingElectronics,4819.77
27,C0237,9,Tamara,20,Male,West Davidburgh,Young,AccessoriesClothing,3701.05
28,C0149,9,Matthew,49,Female,East Robertberg,Adult,Electronics,5148.40
29,C0167,9,Brent,62,Male,Davidstad,sr_citizen,Footwear,6538.20
30,C0235,9,Alyssa,33,Female,Sandovalberg,Adult,AccessoriesElectronicsFootwearHome,4645.52
31,C0245,9,Andrea,49,Female,North Courtneyborough,Adult,Footwear,4005.20
32,C0323,9,Mitchell,38,Male,Port Deannaberg,Adult,Accessories,5640.47
33,C0354,9,Bryan,35,Male,Port Amyfurt,Adult,Footwear,5549.41
34,C0484,9,Edward,49,Female,West Pamelahaven,Adult,ClothingFootwear,5216.82
35,C0461,9,Michele,22,Female,North Keith,Young,Home,5407.47
36,C0466,9,Chloe,29,Female,Port Nataliemouth,Young,AccessoriesElectronics,6355.27
37,C0421,9,Michael,64,Female,New Abigailton,sr_citizen,AccessoriesFootwear,5186.88
38,C0473,9,Paul,50,Female,Lynnview,sr_citizen,Footwear,6610.81
39,C0477,9,Nathan,27,Male,New Tiffany,Young,Footwear,4994.63
40,C0388,9,Carrie,18,Male,Turnerborough,Gen_z,Home,5527.88
41,C0491,9,Tyler,33,Female,East Samanthaborough,Adult,AccessoriesElectronics,5272.32
42,C0102,8,Kayla,41,Female,South Waynefurt,Adult,Electronics,4500.11
43,C0428,8,Robert,36,Male,Waltertown,Adult,ClothingElectronics,2950.56
44,C0488,8,Jacob,21,Female,Jacobberg,Young,Clothing,4503.83
45,C0092,8,Laurie,32,Male,West Gregory,Adult,Clothing,4109.29
46,C0471,8,Wendy,56,Female,Craneport,sr_citizen,Footwear,4037.94
47,C0153,8,Marissa,40,Female,Ashleyfurt,Adult,Electronics,3638.35
48,C0083,8,Amanda,62,Female,Port Ronaldshire,sr_citizen,Accessories,3901.66
49,C0499,8,Rachel,52,Male,Anthonymouth,sr_citizen,Electronics,4303.86

In [20]:
print("Repeat Product & Orders")
new_df3.head(50)

Repeat Product & Orders

,product_id,price,product_name,repeat_product,category,category_repeat
0,P026,842.62,North,53,Accessories,61
1,P094,613.40,North,53,Electronics,83
2,P008,810.83,Table,53,Clothing,64
3,P063,252.25,Table,53,Home,53
4,P062,315.16,Program,50,Clothing,64
5,P095,23.02,Program,50,Clothing,64
6,P040,380.06,Some,44,Electronics,83
7,P075,798.31,Some,44,Accessories,61
8,P001,534.93,Stage,41,Clothing,64
9,P061,155.92,Stage,41,Clothing,64
10,P041,465.37,Behind,39,Footwear,54
11,P059,894.42,Network,38,Home,53
12,P056,795.06,While,36,Footwear,54
13,P022,185.33,Tax,36,Home,53
14,P099,698.17,So,33,Electronics,83
15,P097,932.46,Away,33,Home,53
16,P025,576.60,General,33,Accessories,61
17,P091,157.58,Foot,33,Clothing,64
18,P087,585.47,Body,32,Footwear,54
19,P046,900.08,Around,32,Electronics,83
20,P024,742.42,Night,31,Footwear,54
21,P034,525.45,Many,31,Electronics,83
22,P090,947.55,Perform,31,Electronics,83
23,P027,144.07,Ahead,31,Clothing,64
24,P039,441.94,Bed,31,Clothing,64
25,P028,796.29,Work,31,Home,53
26,P081,695.48,Change,31,Accessories,61
27,P019,128.68,Feeling,31,Accessories,61
28,P093,508.36,Why,30,Clothing,64
29,P055,143.58,According,30,Footwear,54
30,P083,255.54,Ready,30,Accessories,61
31,P082,545.01,West,29,Footwear,54
32,P006,990.01,Keep,29,Electronics,83
33,P071,115.08,Same,29,Electronics,83
34,P065,38.36,Environmental,29,Electronics,83
35,P018,965.20,Maybe,29,Accessories,61
36,P089,464.70,Value,29,Accessories,61
37,P016,929.88,Mind,28,Footwear,54
38,P072,847.22,Phone,28,Footwear,54
39,P051,121.31,Part,28,Footwear,54
40,P002,56.56,Least,28,Accessories,61
41,P088,403.85,Trip,28,Electronics,83
42,P031,168.44,Eat,28,Clothing,64
43,P069,345.37,Prepare,27,Accessories,61
44,P012,597.66,Section,27,Footwear,54
45,P011,761.43,Senior,27,Electronics,83
46,P085,185.69,Really,27,Electronics,83
47,P013,474.22,Drive,27,Electronics,83
48,P086,908.91,Edge,27,Home,53
49,P058,535.79,Job,27,Accessories,61

In [21]:
print("year wise sale")
for year in data.year.unique():
    ye= year_grp.get_group(year).total_sale.sum()
    print(f'year: {year}\nTotal sale: {ye}')

year wise sale
year: 2022
Total sale: 1357500.38
year: 2023
Total sale: 1489071.01
year: 2024
Total sale: 1287689.2000000002

In [22]:
print("most repeat product")
new_df3.head(1)

most repeat product

,product_id,price,product_name,repeat_product,category,category_repeat
0,P026,842.62,North,53,Accessories,61

In [23]:
print("most least sold product")
new_df3.tail(1)

most least sold product

   product_id   price product_name  repeat_product  category  category_repeat
99       P035  362.04        First              14  Clothing               64

In [24]:
print("most revenue generated customer")
new_df1.loc[[new_df1['total_purchase'].idxmax()]]

most revenue generated customer

,customer_id,repeat_order,name,age,gender,city,age_category,category,total_purchase
1,C0113,13,Ryan,45,Male,North Thomashaven,Adult,Accessories,7006.89