In [11]:
import pandas as pd
import numpy as np

In [26]:
data = pd.read_csv('InvestmentDataset.csv')

In [27]:
per=np.array(data['Profit Percentage']).astype(str)

In [28]:
per = np.char.rstrip(per, "%").astype(int)
year = np.array(data['Year'])
A_invest = np.array(data['Additional Investment'])
total = np.array(data['Total Amount'])

In [33]:
total = total + A_invest

In [40]:
pl = []
initial = 5000
for number in total:
    Total = number - initial
    initial = number
    pl.append(Total)
pl = np.array(pl)
g_m = np.power(pl.prod(),1/len(pl))

In [42]:
gm_total = np.power(total.prod(),1/len(total))

In [49]:
total_P= total[-1]-5000

In [73]:
df = pd.DataFrame(year, columns = ['Year'])
df['P/L Per Year'] = pl
df['Released P\L Per Year'] = pl.cumsum()
new_df = data.merge(df, on= 'Year')

<>:3: SyntaxWarning: "\L" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\L"? A raw string is also an option.
<>:3: SyntaxWarning: "\L" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\L"? A raw string is also an option.
C:\Users\HP\AppData\Local\Temp\ipykernel_3668\3136521643.py:3: SyntaxWarning: "\L" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\L"? A raw string is also an option.
  df['Released P\L Per Year'] = pl.cumsum()

In [74]:
new_df

,Year,Profit Percentage,Additional Investment,Total Amount,P/L Per Year,Released P\L Per Year
0,1,25%,0,6250.00,1250.00,1250.00
1,2,-30%,0,4375.00,-1875.00,-625.00
2,3,22%,0,5337.50,962.50,337.50
3,4,28%,0,6832.00,1494.50,1832.00
4,5,25%,2000,10840.00,6008.00,7840.00
5,6,5%,0,11382.00,-1458.00,6382.00
6,7,-25%,0,8536.50,-2845.50,3536.50
7,8,30%,0,11097.45,2560.95,6097.45
8,9,-22%,0,8656.01,-2441.44,3656.01
9,10,28%,0,11079.69,2423.68,6079.69

In [86]:
print('total G_Mean')
gm_total

total G_Mean

np.float64(8169.351497845222)

In [87]:
print("Profit Loss G_Mean")
g_m

Profit Loss G_Mean

np.float64(2044.0788351681288)

In [91]:
print("Total Amount In Bank")
new_df['Total Amount'][9]

Total Amount In Bank

np.float64(11079.69)